// Todos los elementos bajo la misma configuración.


*{
    margin: 0; //Todos los elementos van a tener un margin de 0
    box-sizing: border-box; // Todos los elementos van a llegar al borde de la ventana
}

// Body

Body{
    font-family: arial;
}